@keyframes swing {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(10deg);}
  30% {transform: rotate(0deg);}
  40% {transform: rotate(-10deg);}
  50% {transform: rotate(0deg);}
  60% {transform: rotate(5deg);}
  70% {transform: rotate(0deg);}
  80% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
@keyframes sonar {
  0% {transform: scale(0.9);opacity: 1;} 
  100% {transform: scale(2);opacity: 0;}
}
@keyframes spin {to {-webkit-transform: rotate(360deg);}}
@-webkit-keyframes spin {to {-webkit-transform: rotate(360deg);}}
.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}

/*Loading Dots*/
.loading-dots {opacity: 0;width: auto;animation: loading-dots-fadein .5s linear forwards;}
.loading-dots i {width: .5em;height: .5em;display: inline-block;vertical-align: middle;background: #e0e0e0;border-radius: 50%;margin: 0 .25em;animation: loading-dots-middle-dots .5s linear infinite;}
.loading-dots i:first-child {animation: loading-dots-first-dot .5s linear infinite;opacity: 0;transform: translate(-1em);}
.loading-dots i:last-child {animation: loading-dots-last-dot .5s linear infinite;}
.loading-dots.primary i {background: #f38020;}
.loading-dots.secondary i {background: #2f7bbf;}
.loading-dots.dark-gray i {background: #707070;}
.loading-dots.white i {background: #fff;}
/*
.container {height: 20vh;margin: auto;position: relative;text-align: center;width: 100%;bottom: 0;left: 0;right: 0;top: 0;}
.container img {max-width: 90%;}
.card-img-top {width: 100%;}
*/
.modal-content {border-radius: 0px;box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);}
.modal-backdrop.show {opacity: 0.75;}

body {font-size: 0.9rem;}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*----------------page-wrapper----------------*/
.page-wrapper {height: 100vh;}
.page-wrapper .theme {width: 40px;height: 40px;display: inline-block;border-radius: 4px;margin: 2px;}
.page-wrapper .theme.chiller-theme {background: #1e2229;}

/*----------------toggeled sidebar----------------*/
.page-wrapper.toggled .sidebar-wrapper {left: 0px;}
@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {padding-left: 0px;/*300px*/}}
/*----------------show sidebar button----------------*/
#show-sidebar {position: fixed;left: 0;top: 10px;border-radius: 0 4px 4px 0px;width: 35px;transition-delay: 0.3s;}
.page-wrapper.toggled #show-sidebar {left: -40px;}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {width: 260px;height: 100%;max-height: 100%;position: fixed;top: 0;left: -300px;z-index: 999;}
.sidebar-wrapper ul {list-style-type: none;padding: 0;margin: 0;}
.sidebar-wrapper a {text-decoration: none;}

/*----------------sidebar-content----------------*/
.sidebar-content {max-height: calc(100% - 30px);height: calc(100% - 30px);overflow-y: auto;position: relative;}
.sidebar-content.desktop {overflow-y: hidden;}

/*--------------------sidebar-brand----------------------*/
.sidebar-wrapper .sidebar-brand {padding: 10px 20px;display: flex;align-items: center;}
.sidebar-wrapper .sidebar-brand > a {text-transform: uppercase;font-weight: bold;flex-grow: 1;}
.sidebar-wrapper .sidebar-brand #close-sidebar {cursor: pointer;font-size: 20px;}

/*--------------------sidebar-header----------------------*/
.sidebar-wrapper .sidebar-header {padding: 20px;overflow: hidden;}
.sidebar-wrapper .sidebar-header .user-pic {float: left;width: 60px;padding: 2px;border-radius: 12px;margin-right: 15px;overflow: hidden;}
.sidebar-wrapper .sidebar-header .user-pic img {object-fit: cover;height: 100%;width: 100%;}
.sidebar-wrapper .sidebar-header .user-info {float: left;}
.sidebar-wrapper .sidebar-header .user-info > span {display: block;}
.sidebar-wrapper .sidebar-header .user-info .user-role {font-size: 12px;}
.sidebar-wrapper .sidebar-header .user-info .user-status {font-size: 11px;margin-top: 4px;}

.sidebar-wrapper .sidebar-header .user-info .user-status i {font-size: 8px;margin-right: 4px;color: #5cb85c;}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {padding: 10px 20px;}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {padding-bottom: 10px;}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;font-size: 14px;padding: 15px 20px 5px 20px;display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #31353D;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}
/*-----------------------------light-theme-------------------------------------------------*/
  
.light-theme .sidebar-wrapper {
  background: #e5e8ed;
}

.light-theme .sidebar-wrapper .sidebar-header,
.light-theme .sidebar-wrapper .sidebar-search,
.light-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #ffffff;
}

.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.light-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.light-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text,
.light-theme .sidebar-wrapper .sidebar-brand>a,
.light-theme .sidebar-wrapper .sidebar-menu ul li a,
.light-theme .taskbar-footer>a,
.light-theme .sidebar-footer>a {
  color: #818896;
}

.light-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.light-theme .sidebar-wrapper .sidebar-header .user-info,
.light-theme .sidebar-wrapper .sidebar-brand>a:hover,
.light-theme .taskbar-footer>a:hover i
.light-theme .sidebar-footer>a:hover i {
  color: #b8bfce;
}

.page-wrapper.light-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.light-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.light-theme .sidebar-wrapper ul li:hover a i,
.light-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.light-theme .sidebar-wrapper .sidebar-menu ul li a i,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}

.light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.light-theme .taskbar-footer,
.light-theme .sidebar-footer {
  background: #3a3f48;
  padding: 10px 30px 0px 0px;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.light-theme .taskbar-footer>a:first-child,
.light-theme .sidebar-footer>a:first-child {
  border-left: none;
}
.light-theme .taskbar-footer>a:last-child, 
.light-theme .sidebar-footer>a:last-child {
  border-right: none;
}

#iscompromised{position: -webkit-sticky}
.iscompromised{float: left; align-self: auto; ;color: grey;}
.iscompromised-good>h4{color: #339966;padding: 0px 0px 0px 0px;margin-left: 0px;/*font-size:1.8vh; */}
.iscompromised-good>p{color: #212529;padding: 0px 0px 0px 0px;margin-left: 0px; font-size:1.em;}
.iscompromised-bad>span>h4{color: #ff0000;padding: 8px 0px 0px 0px;margin-left: 0px;/*font-size:1.8vh; */}
.iscompromised-bad>span>p{color: #212529;padding: px 0px 0px 0px;margin-left: 0px; font-size:1.2em;}


.PwdThrem-Common-Name{color:red; font-size: 0.6em;}
#PwdThrem-Common-Name-Text{color:red; font-size: 0.6em;}
#PwdThrem-Common-Name-Rank{color:red; font-size: 0.6em;}
.PwdThrem-Common-Info{color:gray; font-size: 1em;}
.PwdTheorm-Common-Message{color:grey; font-size: 0.9em;}

.PwdThrem-xkcd-Name{color:purple; font-size: 0.9em}
.PwdThrem-xkcd-Info{color:purple; font-size: 0.9em}
.PwdThrem-xkcd-Message{color:purple; font-size: 0.9em}

.PwdTheorm .KarlAchleitner .KA {content:  'Alter';color: #ff0000;font-size: 2em;}

.PwdThrem-Easteregg .KarlAchleitner{color:#6c757d; font-size: 0.9em}
.PwdThrem-Easteregg .KarlAchleitner .Info{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg .KarlAchleitner .Message{color:#6c757d;font-size: 0.9em}

.PwdThrem-Easteregg-SandraWöckinger{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-SandraWöckinger-Info{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-SandraWöckinger-Message{color:#6c757d;font-size: 0.9em}

.PwdThrem-Easteregg-RikiWöckinger{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-RikiWöckinger-Info{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-RikiWöckinger-Message{color:#6c757d;font-size: 0.9em}

.PwdThrem-Easteregg-HelmutWöckinger{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-HelmutWöckinger-Info{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-HelmutWöckinger-Message{color:#6c757d;font-size: 0.9em}

.PwdThrem-Easteregg-TanjaHaslinglehner{color:#6c757d; font-size: 0.9em}
.PwdThrem-Easteregg-TanjaHaslinglehner-Info{color:#6c757d; font-size: 0.9em}
.PwdThrem-Easteregg-TanjaHaslinglehner-Message{color:#6c757d; font-size: 0.9em}

.PwdThrem-Easteregg-ManuelHaslinglehner{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-ManuelHaslinglehner-Info{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-ManuelHaslinglehner-Message{color:#6c757d;font-size: 0.9em}

.PwdThrem-Easteregg-LeoWöckinger{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-LeoWöckinger-Info{color:#6c757d;font-size: 0.9em}
.PwdThrem-Easteregg-LeoWöckinger-Message{color:#6c757d;font-size: 0.9em}

.PwdThrem-lengthVeryShort-Name{color:red;font-size: 0.6em}
.PwdThrem-lengthVeryShort-Info{color:gray;font-size: 1em;}
.PwdTheorm-lengthVeryShort-Message{color:grey; font-size: 0.9em;}

.PwdThrem-possiblyWord-Name{color:red; font-size: 0.6em}
.PwdThrem-possiblyWord-Info{color:gray; font-size: 1em;}
.PwdTheorm-possiblyWord-Message{color:grey; font-size: 0.9em;}

.PwdThrem-onlyNumbers-Name{color:red; font-size: 0.6em}
.PwdThrem-onlyNumbers-Info{color:gray; font-size: 1em;}
.PwdTheorm-onlyNumbers-Message{color:grey; font-size: 0.9em;}

.PwdThrem-wordAndNumber-Name{color:red; font-size: 0.6em}
.PwdThrem-wordAndNumber-Info{color:gray; font-size: 1em;}
.PwdTheorm-wordAndNumber-Message{color:grey; font-size: 0.9em;}

.PwdThrem-lengthShort-Name{color:red; font-size: 0.6em}
.PwdThrem-lengthShort-Info{color:gray; font-size: 1em;}
.PwdTheorm-lengthShort-Message{color:grey; font-size: 0.9em;}

.PwdThrem-justLetters-Name{color:red; font-size: 0.6em}
.PwdThrem-justLetters-Info{color:gray; font-size: 1em;}
.PwdTheorm-justLetters-Message{color:grey; font-size: 0.9em;}

.PwdThrem-noSymbols-Name{color:red; font-size: 0.6em}
.PwdThrem-noSymbols-Info{color:gray; font-size: 2em;}
.PwdTheorm-noSymbols-Message{color:grey; font-size: 0.9em;}

.PwdThrem-telephone-Name{color:red; font-size: 0.6em}
.PwdThrem-telephone-Info{color:gray; font-size: 1em;}
.PwdTheorm-telephone-Message{color:grey; font-size: 0.9em}

.PwdThrem-repeatedPattern-Name{color:red; font-size: 0.6em}
.PwdThrem-repeatedPattern-Info{color:gray; font-size: 1em;}
.PwdTheorm-repeatedPattern-Message{color:grey; font-size: 0.9em}

.PwdThrem-nonStandardCharacters-Name{color:green; font-size: 0.6em}
.PwdThrem-nonStandardCharacters-Info{color:gray; font-size: 1em;}
.PwdTheorm-nonStandardCharacters-Message{color:grey; font-size: 0.9em}

.PwdThrem-lengthLong-Name{color:green; font-size: 0.6em}
.PwdThrem-lengthLong-Info{color:gray; font-size: 1em;}
.PwdTheorm-lengthLong-Message{color:grey; font-size: 0.9em}
